.mainHead{
    width: auto;
    background-color: #008B8B;
    color: #f5fffa;
    text-align: center;
    padding: 1rem;
    size: 200%;
}

body{
    background-color: #fff8dc;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 10px;
}

.container01{
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr 5fr 0.5fr;
}

.holder{
    padding: 1px;
    background-color: #f08080;
    border-radius: 500px;
    font-size: 32;
    text-align: center;
}

.holder a{
    color: white;
}